<div class="table-responsive">
    <table class="table">
        <tbody>
            {% for n in notifications %}
            <tr class="read">
                <td class="action"><input type="checkbox" /></td>
                <td class="action"><i class="fa fa-star-o"></i></td>
                <td class="action"><i class="fa fa-bookmark"></i></td>
                {% if n.unread == True %}
                <td class="name"><a style="color: green; font-weight: bold;" href="#">{{ n.actor }}</a></td>
                {% else %}
                <td class="name"><a href="#">{{ n.actor }}</a></td>
                {% endif %}
                <td class="subject"><a class="text-truncate" style="max-width: 100px; display: inline-block;" href="#">{{ n.description }}</a></td>
                <td class="time">{{ n.timesince }} ago</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>