{% extends 'base/index.html' %}
{% load notifications_tags %}
{% load static %}
{% block title %}Profile{% endblock %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block content %}
<style>
    .profile-header {
        transform: translateY(5rem);
    }
</style>

<div class="row py-5 px-4 big" style="margin-left: 0; margin-right: 0;">
    <div class="col-xl-12 col-md-6 col-sm-10 mx-auto">

        <!-- Profile widget -->
        {% if not not_owned_profile %}
        <h4 class="mt-0 mb-0">{{ not_owned_profile.first_name }}</h4>
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="d-flex align-items-end profile-header">
                    <div class="profile d-flex flex-column mr-3">
                        {% if request.user.is_seller %}
                            <img src="{{ request.user.selleraccountmodel.get_seller_avatar }}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                            <a href="{% url 'authentication:profile-edit' request.user.selleraccountmodel.first_name %}" class="btn btn-dark btn-sm btn-block">Edit profile</a>
                            {% elif request.user.is_buyer %}
                            <img src="{{ request.user.buyeraccountmodel.get_buyer_avatar }}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                            <a href="{% url 'authentication:profile-edit' request.user.buyeraccountmodel.first_name %}" class="btn btn-dark btn-sm btn-block">Edit profile</a>
                            {% else %}
                            <a href="{% url 'authentication:profile-edit' request.user.id %}" class="btn btn-dark btn-sm btn-block">Edit profile</a>
                            {% endif %}
                        </div>
                    <div class="flex-grow mb-5 text-white mx-3">
                        {% if request.user.is_seller %}
                        <h4 class="mt-0 mb-0">{{ seller.first_name }}</h4>
                        {% elif request.user.is_buyer %}
                        <h4 class="mt-0 mb-0">{{ buyer.first_name }}</h4>
                        {% else %}
                        <h4 class="mt-0 mb-0">{{ user.email }}</h4>
                        {% endif %}
                        <p class="small mb-4"> <i class="fa fa-map-marker me-2"></i>San Farcisco</p>
                    </div>
                </div>
            </div>
            {% if request.user.is_seller %}
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{ product_count }}</h5><small class="text-muted"> <i
                                class="fa fa-picture-o mr-1"></i>Products</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{ count_of_followers }}</h5><small class="text-muted"> <i
                                class="fa fa-user-circle-o mr-1"></i>Followers</small>
                    </li>
                </ul>
            </div>
            {% endif %}
            <div class="py-4 px-4">
                {% if request.user.is_seller %}
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Recent Products</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                </div>
                {% if product %}
                <div class="row">
                {% for p in product %}
                        <div class="col-lg-6 mb-2 pr-lg-1">
                            <a href="{{ p.get_absolute_url }}">
                                <img src="{{ p.get_first_image }}" alt="No image" class="img-fluid rounded shadow-sm" style="height: 400px; width: 100%; object-fit: cover;">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% include 'components/seller-sidebar.html' %}
                    {% else %}
                    <a href="{% url 'base:product_create' %}" class="btn btn-primary my-3">Upload Product</a>
                <h5 class="text-center" style="
                color: #777;
                font-size: 16px;
                "><i class="fa-solid fa-circle-exclamation mx-2"></i>You dont have product yet</h5>
                {% endif %}
                {% endif %}
                {% if request.user.is_buyer %}
                <main class="container mt-4 pt-4">
                    <!-- Featured Products -->
                    <h3 class="border-bottom pb-1">My Dashboard</h3>
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'components/user-sidebar.html' %}
                        </div>
                    </div>
                </main>
                {% endif %}
                <div class="py-4">
                    <h5 class="my-3">Recent comments</h5>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'developer:home' %}" class="btn btn-outline-primary mb-2">Developer</a>
                    {% endif %}
                    <div class="p-4 bg-light rounded shadow-sm">
                        <p class="font-italic mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <ul class="list-inline small text-muted mt-3 mb-0">
                            <li class="list-inline-item"><i class="fa fa-comment-o mr-2"></i>12 Comments</li>
                            <li class="list-inline-item"><i class="fa fa-heart-o mr-2"></i>200 Likes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <h1>Later I would add some context here</h1>
        {% endif %}

    </div>
</div>

{% endblock %}