<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load pagination_extras_app %}
{% load notifications_tags %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Inbox Notifications</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/notify.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Mail <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Mail</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Tasks</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 col-md-10">
                <!-- Split button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default">
                        <div class="checkbox" style="margin: 0;">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">All</a></li>
                        <li><a href="#">None</a></li>
                        <li><a href="#">Read</a></li>
                        <li><a href="#">Unread</a></li>
                        <li><a href="#">Starred</a></li>
                        <li><a href="#">Unstarred</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default" id="refresh" data-toggle="tooltip" title="Refresh">
                    &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;&nbsp;</button>
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        More <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'authentication:mark_all_as_read' %}">Mark all as read</a></li>
                        <li class="divider"></li>
                        <li class="text-center"><small class="text-muted">Select messages to see more actions</small>
                        </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <span class="text-muted"><b>{{ notifications.number }}</b> of <b>{{ notifications.paginator.num_pages }}</b></span>
                    <div class="btn-group btn-group-sm">
                        {% if notifications.has_previous %}
                        <a href="{% my_url notifications.previous_page_number 'page' request.GET.urlencode %}" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        {% else %}
                        <a href="#" class="btn btn-default disabled">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        {% endif %}
                        {% if notifications.has_next %}
                        <a href="{% my_url notifications.next_page_number 'page' request.GET.urlencode %}" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        {% else %}
                        <a href="#" class="btn btn-default disabled">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            {% include 'notifications/sellers/sidebar.html' %}
            <div class="col-sm-9 col-md-10">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-inbox">
                            </span>Primary</a></li>
                    <li><a href="#profile" data-toggle="tab"><span class="glyphicon glyphicon-user"></span>
                            Social</a></li>
                    <li><a href="#messages" data-toggle="tab"><span class="glyphicon glyphicon-tags"></span>
                            Promotions</a></li>
                    <li><a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-plus no-margin">
                            </span></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <div class="list-group" id="refresh-all-list">
                            {% if request.user.is_seller %}
                                {% for n in notifications %}
                                <a href="{% url 'authentication:mark_as_read' n.slug %}" class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    {% if n.unread == True %}
                                    <span class="name label label-danger" style="min-width: 120px; display: inline-block;">
                                        {{ n.actor }}
                                    </span>
                                    {% else %}
                                    <span class="name label label-info" style="min-width: 120px; display: inline-block;">
                                        {{ n.actor }}
                                    </span>
                                    {% endif %}
                                    <span class="">{{ n.verb }}</span>
                                    <span class="text-muted text-truncate" style="font-size: 11px; display: inline-block; max-width: 100px; transform: translateY(3px);">- {{ n.description }}</span> <span
                                        class="badge">{{ n.timesince }}</span> <span class="pull-right"><span
                                            class="glyphicon glyphicon-paperclip">
                                        </span></span>
                                </a>
                                {% endfor %}
                            {% else %}
                                {% for n in notifications %}
                                <a href="{% url 'authentication:mark_as_read' n.slug %}" class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    {% if n.unread == True %}
                                    <span class="name label label-danger" style="min-width: 120px; display: inline-block;">
                                        {{ n.actor }}
                                    </span>
                                    {% else %}
                                    <span class="name label label-info" style="min-width: 120px; display: inline-block;">
                                        {{ n.actor }}
                                    </span>
                                    {% endif %}
                                    <span class="">{{ n.verb }}</span>
                                    <span class="text-muted text-truncate" style="font-size: 11px; display: inline-block; max-width: 100px; transform: translateY(3px);">- {{ n.description }}</span> <span
                                        class="badge">{{ n.timesince }}</span> <span class="pull-right"><span
                                            class="glyphicon glyphicon-paperclip">
                                        </span></span>
                                </a>
                                {% endfor %}
                            {% endif %}
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/notify.js' %}" type="text/javascript"></script>
    {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge, my_special_notification_callback' %}
    <script>
        $("#refresh").on("click", function(){
            $('#refresh-all-list').load(' #refresh-all-list')
            });
    </script>
</body>

</html>