{% extends 'notifications/sellers/list.html' %}
{% load widget_tweaks %}
{% block content %}
<style>
    .sizer {
        width: 100% !important;
    }
</style>
<div class="col-md-8 message-sideright">
    <div class="panel">
        <div class="panel-heading">
            <div class="media">
                <a href="mail-compose.html" class="btn btn-danger pull-right rounded"><i class="fa fa-share"></i></a>
                <a class="pull-left" href="#">
                    <img src="{{ notification.actor.get_buyer_avatar }}" alt="Rebecca Cabean" class="img-circle avatar">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{ notification.actor }}<small> (Sales Manager)</small></h4>
                    <small>{{ notification.timestamp }}</small>
                </div>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
            <p class="lead">
                {{ notification.description }}
            </p>
            <hr>
            <br>
            <p>
                Thanks! <br>
                Rebecca.
            </p>
            <hr>
            <form method="POST" class="input-group" style="width: 100%">
                {% csrf_token %}
                {% render_field form.content class+="form-control sizer"  placeholder="Message" %}
                <button type="submit" class="btn btn-primary" style="margin: 10px 0px;">Reply</button>
            </form>
        </div>
    </div>
{% endblock %}