<!-- Features -->
<section>
    <div class="container">
        <div class="card p-4 bg-primary">
            <div class="row align-items-center">
                <div class="col">
                    <h4 class="mb-0 text-white">Best products and brands in store</h4>
                    <p class="mb-0 text-white-50">Trendy products and text to build on the card title</p>
                </div>
                <div class="col-auto"><a class="btn btn-light text-primary shadow-0" href="#">Discover</a></div>
            </div>
        </div>
    </div>
</section>
<!-- Features -->