<!--Main Navigation-->
{% load notifications_tags %}
<header>
  <!-- Jumbotron -->
  <div class="p-3 text-center bg-white border-bottom">
    <div class="container">
      <div class="row gy-3">
        <!-- Left elements -->
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="/" class="float-start" style="font-size: 35px; text-decoration: none; color: orange; font-family: 'Josefin Sans', sans-serif;">
            Online
          </a>
        </div>
        <!-- Left elements -->

        <!-- Center elements -->
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="d-flex float-end">
            <a href="/authentication/logout/"
              class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i
                class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Sign out</p>
            </a>
            {% if request.user.is_seller %}
            <a href="{% url 'authentication:general_profile' request.user.selleraccountmodel.first_name  %}"
              class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"><i class="fa-regular fa-address-card mx-2"></i>
              <p class="d-none d-md-block mb-0">Profile</p>
            </a>
            <a href="{% url 'authentication:all_notifications' %}"
            class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
            <i class="fa-solid fa-bell position-relative">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 8px;">
                {% live_notify_badge %}
                <span class="visually-hidden">unread messages</span>
              </span>
            </i>
          </a>
            {% elif request.user.is_buyer %}
            <a href="{% url 'authentication:all_notifications' %}"
              class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
              <i class="fa-solid fa-bell position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 8px;">
                  {% live_notify_badge %}
                  <span class="visually-hidden">unread messages</span>
                </span>
              </i>
            </a>
            <a href="{% url 'authentication:general_profile' request.user.buyeraccountmodel.first_name  %}"
            class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"><i class="fa-regular fa-address-card mx-2"></i>
            <p class="d-none d-md-block mb-0">Profile</p>
            </a>
            {% else %}
            <a href="{% url 'authentication:general_profile' request.user.id  %}"
            class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"><i class="fa-regular fa-address-card mx-2"></i>
            <p class="d-none d-md-block mb-0">Profile</p>
            </a>
            {% endif %}
            <a href="{% url 'base:cart' %}"
              class="border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank"> <i
                class="fas fa-shopping-cart m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">My cart</p>
            </a>
          </div>
        </div>
        <!-- Center elements -->

        <!-- Right elements -->
        <div class="col-lg-5 col-md-12 col-12">
          <div class="input-group float-center">
            <div class="form-floating">
              <input type="search" class="form-control" id="floatingInput" placeholder="name@example.com" style="padding: 10px 10px !important; height: 50px;">
              <label for="floatingInput" style="font-size: 13px;">Search</label>
            </div>
            <button type="button" class="btn btn-primary shadow-0">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      {% if messages %}
      {% for message in messages %}
      {% if 'add_cart' in message.tags %}
      <div class="alert alert-success alert-dismissible fade show" style="text-align: left;">
        <strong><a style="margin-right: 10px; color: #444; text-transform: uppercase;" href="{% url 'base:cart' %}"><u>check cart</u></a></strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% if 'profile_update' in message.tags %}
      <div class="alert alert-success alert-dismissible fade show" style="text-align: left;">
        <strong><a style="margin-right: 10px; color: #444; text-transform: uppercase;" href="#"><u>edit again</u></a></strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% if 'remove_cart' in message.tags %}
      <div class="alert alert-danger alert-dismissible fade show" style="text-align: left;">
        <strong><a style="margin-right: 10px; color: #777; text-transform: uppercase;" href="{% url 'base:cart' %}"><u>check cart</u></a></strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% if 'not_in_cart' in message.tags %}
      <div class="alert alert-info alert-dismissible fade show" style="text-align: left;">
        <strong><a style="margin-right: 10px; color: #777; text-transform: uppercase;" href="{% url 'base:cart' %}"><u>check cart</u></a></strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% if 'already_have' in message.tags %}
      <div class="alert alert-warning alert-dismissible fade show" style="text-align: left;">
        <strong><a style="margin-right: 10px; color: #777; text-transform: uppercase;" href="{% url 'base:cart' %}"><u>check cart</u></a></strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <!-- Jumbotron -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5f5f5;">
    <!-- Container wrapper -->
    <div class="container justify-content-center justify-content-md-between">
      <!-- Toggle button -->
      <button class="navbar-toggler border text-dark py-2" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Hot offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Gift boxes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Menu item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Menu name</a>
          </li>
          <!-- Navbar dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark mb-0" href="#" id="navbarDropdown" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false">
              Others
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- Left links -->
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>