{% load ratings %}
<section style="background-color: #eee; overflow-x: hidden;" >
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
        <h2 style="transform: translateX(110px);">Latest Products</h2>
        <ol style="transform: translateX(125px);" class="breadcrumb">
          <li class="breadcrumb-item">All Products</li>
          <!-- later on i would add specific products page -->
          <li class="breadcrumb-item"><a href="{% url 'base:products' %}">here</a></li>
      </ol>
        {% for p in latest_products_for_product_page %}
        <div class="col-md-12 col-xl-10 mt-2">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <a href="{{ p.get_absolute_url }}">
                      <img src="{{ p.get_first_image }}"
                      class="w-100" />
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{ p.product_name }}</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star get_star"></i>
                      <i class="fa fa-star get_star"></i>
                      <i class="fa fa-star get_star"></i>
                      <i class="fa fa-star get_star"></i>
                      <i class="fa fa-star get_star"></i>
                    </div>
                    <span class="average_rating">{{p.average_rating}}</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>100% cotton</span>
                    <span class="text-primary"> • </span>
                    <span>Light weight</span>
                    <span class="text-primary"> • </span>
                    <span>Best finish<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    <span>Unique design</span>
                    <span class="text-primary"> • </span>
                    <span>For men</span>
                    <span class="text-primary"> • </span>
                    <span>Casual<br /></span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    {{ p.product_description }}}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">{{ p.product_cost }} 000 so'm</h4>
                    <!-- <span class="text-danger"><s>$20.99</s></span> -->
                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <div class="d-flex flex-column mt-4">
                    <a href="{{ p.get_absolute_url }}" class="btn btn-primary btn-sm" type="button">Details</a>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <script>
    let average_rating = document.querySelectorAll('.average_rating');
    let star = document.querySelectorAll('.get_star');
    // write a code get average rating and set stars
    if(Math.round(average_rating[0].innerHTML) == 0) {
     for(let i = 0; i < 5; i++) {
       star[i].classList.add('fa-regular');
       star[i].classList.remove('fa');
     }
    }
    else if(Math.round(average_rating[0].innerHTML) == 1) {
    for(let i = 0; i < 5; i++) {
      star[0].classList.add('fa-solid');
      star[1].classList.add('fa-regular'); 
      star[2].classList.add('fa-regular'); 
      star[3].classList.add('fa-regular'); 
      star[4].classList.add('fa-regular'); 
    }
  }
  else if(Math.round(average_rating[0].innerHTML) == 2) {
    for(let i = 0; i < 5; i++) {
      star[0].classList.add('fa-solid');
      star[1].classList.add('fa-solid'); 
      star[2].classList.add('fa-regular'); 
      star[3].classList.add('fa-regular'); 
      star[4].classList.add('fa-regular'); 
    }
  }
  else if(Math.round(average_rating[0].innerHTML) == 3) {
    for(let i = 0; i < 5; i++) {
      star[0].classList.add('fa-solid');
      star[1].classList.add('fa-solid'); 
      star[2].classList.add('fa-solid'); 
      star[3].classList.add('fa-regular'); 
      star[4].classList.add('fa-regular'); 
    }
  }
  else if(Math.round(average_rating[0].innerHTML) == 4) {
    for(let i = 0; i < 5; i++) {
      star[0].classList.add('fa-solid');
      star[1].classList.add('fa-solid'); 
      star[2].classList.add('fa-solid'); 
      star[3].classList.add('fa-solid'); 
      star[4].classList.add('fa-regular'); 
    }
  }
  else if(Math.round(average_rating[0].innerHTML) == 5) {
    for(let i = 0; i < 5; i++) {
      star[0].classList.add('fa-solid');
      star[1].classList.add('fa-solid'); 
      star[2].classList.add('fa-solid'); 
      star[3].classList.add('fa-solid'); 
      star[4].classList.add('fa-solid'); 
    }
  }
  if(Math.round(average_rating[1].innerHTML) == 0) {
    for(let i = 0; i < 10; i++) {
      star[5].classList.add('fa-regular');
      star[6].classList.add('fa-regular');
      star[7].classList.add('fa-regular');
      star[8].classList.add('fa-regular');
      star[9].classList.add('fa-regular');
    }
   }
  else if(Math.round(average_rating[1].innerHTML) == 1) {
    for(let i = 0; i < 10; i++) {
      star[5].classList.add('fa-solid');
      star[6].classList.add('fa-regular');
      star[7].classList.add('fa-regular');
      star[8].classList.add('fa-regular');
      star[9].classList.add('fa-regular');
    }
   }
  else if(Math.round(average_rating[1].innerHTML) == 2) {
    for(let i = 0; i < 10; i++) {
      star[5].classList.add('fa-solid');
      star[6].classList.add('fa-solid');
      star[7].classList.add('fa-regular');
      star[8].classList.add('fa-regular');
      star[9].classList.add('fa-regular');
    }
   }
  else if(Math.round(average_rating[1].innerHTML) == 3) {
    for(let i = 0; i < 10; i++) {
      star[5].classList.add('fa-solid');
      star[6].classList.add('fa-solid');
      star[7].classList.add('fa-solid');
      star[8].classList.add('fa-regular');
      star[9].classList.add('fa-regular');
    }
   }
  else if(Math.round(average_rating[1].innerHTML) == 4) {
    for(let i = 0; i < 10; i++) {
      star[5].classList.add('fa-solid');
      star[6].classList.add('fa-solid');
      star[7].classList.add('fa-solid');
      star[8].classList.add('fa-solid');
      star[9].classList.add('fa-regular');
    }
   }
  else if(Math.round(average_rating[1].innerHTML) == 5) {
    for(let i = 0; i < 10; i++) {
      star[5].classList.add('fa-solid');
      star[6].classList.add('fa-solid');
      star[7].classList.add('fa-solid');
      star[8].classList.add('fa-solid');
      star[9].classList.add('fa-solid');
    }
   }
  </script>