{% load notifications_tags %}
{% notifications_unread as unread_count %}
<div class="list-group list-group-horizontal" id="roles">
    {% live_notify_list as live %}
    {% if unread_count %}
    <a href="#notification" data-bs-toggle="collapse" role="button" aria-expanded="false"
        aria-controls="collapseExample" class="list-group-item position-relative">Notifications
        <span class="position-absolute top-2 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 10px; left: 110px !important;">
            <i class="fa-solid fa-exclamation"></i>
          </span></a>
    {% else %}
    <a href="#notification" data-bs-toggle="collapse" role="button" aria-expanded="false"
        aria-controls="collapseExample" class="list-group-item position-relative">Notifications</a>
    {% endif %}
    <a href="" class="list-group-item {% if request.path == '/edit-profile' %}active {% endif %}">Profile</a>
    <a href="#collapse1" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"
        class="list-group-item">Orders</a>
    <a href="" class="list-group-item {% if request.path == '/my-wishlist' %}active {% endif %}">Wishlist</a>
    <a href="#comment" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"
        class="list-group-item">My Reviews</a>
    <a href="" class="list-group-item {% if request.path == '/my-addressbook' %}active {% endif %}">Address Book</a>
    <a href="" class="list-group-item {% if request.path == '/my-addressbook' %}active {% endif %}">Cards</a>
    <a href="" class="list-group-item {% if request.path == '/my-addressbook' %}active {% endif %}">Special Items</a>
</div>

<div class="col-12 collapse my-2" id="notification">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Responsive Table</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sender</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Title</th>
                        <th scope="col">Message</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in notice %}
                    <tr>
                        <th scope="row">{{ n.id }}</th>
                        <td><a href="{% url 'authentication:mark_as_read' n.slug %}">{{ n.actor.buyeraccountmodel.first_name }}</a></td>
                        <td>{{ n.actor.buyeraccountmodel.last_name }}</td>
                        <td>{{ n.actor }}</td>
                        <td>{{ n.verb }}</td>
                        <td>{{ n.description|linebreaksbr }}</td>
                        {% if n.unread == True %}
                        <td><i class="fa-solid fa-envelope" style="color: orange; font-size: 20px;"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-envelope-open" style="color: orange; font-size: 20px;"></i></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
